<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471884959324-os1toe62b2po4s8rtgroh2o48019uloi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471884959324-os1toe62b2po4s8rtgroh2o48019uloi</string>
	<key>API_KEY</key>
	<string>AIzaSyAuJBoKZZooTq7HlSCDYqdvdT2aX7mpuII</string>
	<key>GCM_SENDER_ID</key>
	<string>471884959324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.krona.kronacash</string>
	<key>PROJECT_ID</key>
	<string>krona-a5a7e</string>
	<key>STORAGE_BUCKET</key>
	<string>krona-a5a7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471884959324:ios:406bab8fb5d5214605e099</string>
	<key>DATABASE_URL</key>
	<string>https://krona-a5a7e.firebaseio.com</string>
</dict>
</plist>